xmls/Shift.dtd

<!--
The type of the attribute "id" of Employee needs
to be CDATA instead of ID, since DTD doesn't allow
IDs that start with a number
-->
<!DOCTYPE Shift [
   <!ELEMENT Shift (date, shift, room)>
   <!ELEMENT date (#PCDATA)>
   <!ELEMENT shift (#PCDATA)>
   <!ELEMENT room (#PCDATA)>
   <!ATTLIST Shift workerId CDATA #REQUIRED>
]>
