xmls/Shift.dtd


<!DOCTYPE Shift [
   <!ELEMENT Shift (date, turn, room)>
   <!ATTLIST shiftId id CDATA #REQUIRED>
   <!ELEMENT date (#PCDATA)>
   <!ELEMENT turn (#PCDATA)>
   <!ELEMENT room (#PCDATA)>
   <!ELEMENT Worker (Worker+)>
   <!ELEMENT Worker (name, surname, specialty, role)>
   <!ATTLIST Worker id CDATA #REQUIRED
   					name CDATA #REQUIRED
   					surname CDATA #REQUIRED>
   <!ELEMENT specialty (#PCDATA)>
   <!ELEMENT role (#PCDATA)>
]>
