xmls/Worker.dtd


<!DOCTYPE Worker [
   <!ELEMENT Worker (specialtyId, typeWorker)>
   <!ATTLIST Worker workerId CDATA #REQUIRED
   					workerName CDATA #REQUIRED
   					workerSurname CDATA #REQUIRED
   					userId CDATA #REQUIRED>
   <!ELEMENT specialtyId (#PCDATA)>
   <!ELEMENT typeWorker (#PCDATA)>
   <!ELEMENT Shift (Shift+)>
   <!ELEMENT Shift (date, turn, room)>
   <!ATTLIST Shift shiftId CDATA #REQUIRED>
   <!ELEMENT date (#PCDATA)>
   <!ELEMENT turn (#PCDATA)>
   <!ELEMENT room (#PCDATA)>
]>